/dts-v1/;

#include <dt-bindings/display/tegra-dc.h>
#include <dt-bindings/usb/tegra-ehci.h>
#include <dt-bindings/usb/tegra-xhci.h>

#include "tegra124-meerkat.dtsi"

/ {
	model = "Avionic Design Kein Baseboard";
	compatible = "ad,kein-baseboard", "ad,meerkat", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;

	host1x {
		vi {
			port@0 {
				reg = <0>;
				csi_a: endpoint {
					remote-endpoint = <&cam_csi>;
				};
			};
		};

		dc@54200000 {
			status = "okay";

			nvidia,dc-connection = "external-display";
			vdd_hdmi_5v0-supply = <&vdd_5v0>;
		};

		hdmi {
			status = "okay";
		};
	};

	serial@70006300 {
		status = "okay";
	};

	/* SATA */
	sata@0x70020000 {
		status = "okay";
		vdd_sata-supply = <&vdd_5v0>;
	};

	/* Recovery USB */
	usb@7d000000 {
		status = "okay";
		nvidia,port-otg;
		nvidia,remote-wakeup-supported;
		nvidia,power-off-on-suspend;

		usb_vbus-supply = <&vdd_usb0_vbus>;
	};

	udc@7d000000 {
		status = "okay";

		usb_vbus-supply = <&vdd_usb0_vbus>;
	};

	otg@7d000000 {
		status = "okay";

		usb_vbus-supply = <&vdd_usb0_vbus>;
	};

	/* USB 3.0 */
	xusb@70090000 {
		status = "okay";
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <(XUSB_MUX_USB2_P2 | XUSB_MUX_SS_P1)>;
		nvidia,ss_portmap = <XUSB_PADCTL_SS_PORTMAP(DISABLE, P2)>;
		nvidia,lane_owner = <2>; /* PCIe lane1 owner = USB3_SS port1 */
		nvidia,ulpicap = <0>;
		usb_vbus2-supply = <&vdd_usb3_vbus>;
	};

	i2c@7000c400 {
		status = "okay";

		imx219@10 {
			compatible = "sony,imx219";
			reg = <0x10>;

			vdd-supply = <&vdd_3v3_ext>;

			reset-gpio = <&gpio TEGRA_GPIO(H, 4) GPIO_ACTIVE_LOW>;

			port {
				cam_csi: endpoint {
					remote-endpoint = <&csi_a>;
				};
			};
		};
	};

	/* HDMI DDC */
	i2c@7000c700 {
		status = "okay";
	};

	hda@70030000 {
		status = "okay";
	};

	avp-audio {
		compatible = "nvidia,tegra124-avp-audio", "nvidia,tegra30-avp-audio";
	};

	audio-offload {
		compatible = "nvidia,tegra-offload";
	};

	regulators {
		vcc: regulator@99 {
			compatible = "regulator-fixed";
			reg = <99>;
			regulator-name = "VCC";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "+VDD_5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vcc>;
		};

		vdd_3v3: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "+VDD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vcc>;
		};

		vdd_usb0_vbus: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "USB0_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 4) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_usb3_vbus: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "+USB3.0_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(FF, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_5v0_ext: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "+5V_EXT";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vcc>;
		};

		vdd_3v3_ext: regulator@105 {
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "+3V3_EXT";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_3v3>;
		};

	};

	pwm-fan {
		status = "okay";
	};
};
