/dts-v1/;

#include <dt-bindings/pci/tegra-pcie.h>

#include "tegra124-meerkat.dtsi"

/ {
	model = "Elber PLink Baseboard";
	compatible = "elber,plink", "ad,meerkat", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;

	   pinmux {
	      common {
		 ulpi_clk_py0 {
		    nvidia,pins = "ulpi_clk_py0";
		    nvidia,function = "spi1";
		    nvidia,enable-input = <TEGRA_PIN_DISABLE>;
		    nvidia,pull = <TEGRA_PIN_PULL_NONE>;
		    nvidia,tristate = <TEGRA_PIN_DISABLE>;
		 };

		 ulpi_dir_py1 {
		    nvidia,pins = "ulpi_dir_py1";
		    nvidia,function = "spi1";
		    nvidia,enable-input = <TEGRA_PIN_ENABLE>;
		    nvidia,pull = <TEGRA_PIN_PULL_NONE>;
		    nvidia,tristate = <TEGRA_PIN_DISABLE>;
		 };

		 ulpi_nxt_py2 {
		    nvidia,pins = "ulpi_nxt_py2";
		    nvidia,function = "spi1";
		    nvidia,enable-input = <TEGRA_PIN_DISABLE>;
		    nvidia,pull = <TEGRA_PIN_PULL_NONE>;
		    nvidia,tristate = <TEGRA_PIN_DISABLE>;
		 };

		 ulpi_stp_py3 {
		    nvidia,pins = "ulpi_stp_py3";
		    nvidia,function = "spi1";
		    nvidia,enable-input = <TEGRA_PIN_DISABLE>;
		    nvidia,pull = <TEGRA_PIN_PULL_NONE>;
		    nvidia,tristate = <TEGRA_PIN_DISABLE>;
		 };
		gen2_i2c_scl_pt5 {
			nvidia,pins = "gen2_i2c_scl_pt5";
			nvidia,function = "i2c2";
			nvidia,enable-input = <TEGRA_PIN_ENABLE>;
			nvidia,pull = <TEGRA_PIN_PULL_NONE>;
			nvidia,tristate = <TEGRA_PIN_DISABLE>;
			nvidia,lock = <TEGRA_PIN_DISABLE>;
			nvidia,open-drain = <TEGRA_PIN_DISABLE>;
		};

		gen2_i2c_sda_pt6 {
			nvidia,pins = "gen2_i2c_sda_pt6";
			nvidia,function = "i2c2";
			nvidia,enable-input = <TEGRA_PIN_ENABLE>;
			nvidia,pull = <TEGRA_PIN_PULL_NONE>;
			nvidia,tristate = <TEGRA_PIN_DISABLE>;
			nvidia,lock = <TEGRA_PIN_DISABLE>;
			nvidia,open-drain = <TEGRA_PIN_DISABLE>;
		};
	      };
	   };

	serial@70006300 {
		status = "okay";
	};

	pcie-controller {
		nvidia,port0_status = <1>;
		nvidia,port1_status = <1>;
		nvidia,lanes = <TEGRA_PCIE_LANES_X2_X1>;
		status = "okay";
	};

	i2c_gen1: i2c@7000c000 {
		status = "okay";
	};

	i2c_gen2: i2c@7000c400 {
		status = "okay";
		clock-frequency = <70000>;
	};


	   spi@7000d400 {
	      status = "okay";
	      spi-max-frequency = <25000000>;

	      spidev@0 {
		 compatible = "spidev";
		 reg = <0>;
		 spi-max-frequency = <6000000>;

		 controller-data {
		    nvidia,enable-hw-based-cs;
		 };
	      };
	   };


	regulators {
		vsys: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "VSYS";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "+VDD_5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vsys>;
		};

		vdd_3v3: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "+VDD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vsys>;
		};
	};
};
