/dts-v1/;

#include <dt-bindings/display/tegra-dc.h>
#include <dt-bindings/usb/tegra-ehci.h>
#include <dt-bindings/usb/tegra-xhci.h>

#include "tegra124-meerkat.dtsi"

/ {
	model = "Avionic Design Kein Baseboard";
	compatible = "ad,kein-baseboard", "ad,meerkat", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;

	host1x {
		dc@54200000 {
			status = "okay";

			nvidia,dc-connection = "external-display";
			vdd_hdmi_5v0-supply = <&vdd_5v0>;
		};

		hdmi {
			status = "okay";
		};
	};

	serial@70006300 {
		status = "okay";
	};

	/* SATA */
	sata@0x70020000 {
		status = "okay";
		vdd_sata-supply = <&vdd_5v0>;
	};

	usb@7d000000 {
		status = "okay";
		nvidia,phy-interface = <TEGRA_USB_PHY_INTF_UTMI>;
		nvidia,mode = <TEGRA_USB_OPMODE_DEVICE>;

		nvidia,hotplug;
		nvidia,remote-wakeup-supported;
		nvidia,power-off-on-suspend;

		nvidia,hssync-start-delay = <0>;
		nvidia,elastic-limit = <16>;
		nvidia,idle-wait-delay = <17>;
		nvidia,term-range-adj = <6>;
		nvidia,xcvr-setup = <8>;
		nvidia,xcvr-lsfslew = <2>;
		nvidia,xcvr-lsrslew = <2>;
		nvidia,xcvr-setup-offset = <0>;
		nvidia,xcvr-use-fuses = <1>;
		nvidia,vbus-oc-map = <0x5>;
	};

	/* USB 3.0 */
	usb@7d008000 {
		status = "okay";
		nvidia,phy-interface = <TEGRA_USB_PHY_INTF_UTMI>;
		nvidia,mode = <TEGRA_USB_OPMODE_HOST>;

		nvidia,hotplug;
		nvidia,remote-wakeup-supported;
		nvidia,power-off-on-suspend;

		nvidia,hssync-start-delay = <0>;
		nvidia,elastic-limit = <16>;
		nvidia,idle-wait-delay = <17>;
		nvidia,term-range-adj = <6>;
		nvidia,xcvr-setup = <8>;
		nvidia,xcvr-lsfslew = <2>;
		nvidia,xcvr-lsrslew = <2>;
		nvidia,xcvr-setup-offset = <0>;
		nvidia,xcvr-use-fuses = <1>;
		nvidia,vbus-oc-map = <0x5>;

		usb_vbus-supply = <&vdd_usb3_vbus>;
	};

	xusb@70090000 {
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <(XUSB_MUX_USB2_P2 | XUSB_MUX_SS_P1)>;
		nvidia,ss_portmap = <XUSB_PADCTL_SS_PORTMAP(DISABLE, P2)>;
		nvidia,lane_owner = <2>; /* PCIe lane1 owner = USB3_SS port1 */
		nvidia,ulpicap = <0>;
		usb_vbus2-supply = <&vdd_usb3_vbus>;
		status = "okay";
	};

	/* HDMI DDC */
	i2c@7000c700 {
		status = "okay";
	};

	hda@70030000 {
		status = "okay";
	};

	avp-audio {
		compatible = "nvidia,tegra124-avp-audio", "nvidia,tegra30-avp-audio";
	};

	audio-offload {
		compatible = "nvidia,tegra-offload";
	};

	regulators {
		vcc: regulator@99 {
			compatible = "regulator-fixed";
			reg = <99>;
			regulator-name = "VCC";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "+VDD_5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vcc>;
		};

		vdd_3v3: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "+VDD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vcc>;
		};

		vdd_usb3_vbus: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "+USB3.0_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(FF, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_5v0_ext: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "+5V_EXT";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vcc>;
		};

		vdd_3v3_ext: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "+3V3_EXT";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_3v3>;
		};

	};

	pwm-fan {
		status = "okay";
	};
};
