/dts-v1/;

#include "tegra124-meerkat.dtsi"

/ {
	model = "Avionic Design WiZARM";
	compatible = "ad,wizarm", "ad,meerkat", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;

	pinmux {
		common {
			/* codec interrupt */
			dap1_dout_pn2 {
				nvidia,enable-input = <TEGRA_PIN_ENABLE>;
			};

			/* i2s1 (DAP2) */
			dap2_din_pa4 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			dap2_dout_pa5 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			dap2_fs_pa2 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			dap2_sclk_pa3 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			/* i2s3 (DAP4) */
			dap4_din_pp5 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			dap4_fs_pp4 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			dap4_sclk_pp7 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			/* Set a pull up on GPIO PJ2 */
			pj2 {
				nvidia,enable-input = <TEGRA_PIN_ENABLE>;
				nvidia,pull = <TEGRA_PIN_PULL_NONE>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
		};
	};

	pwm-fan {
		status = "okay";
	};

	host1x {
		dc@54200000 {
			status = "okay";

			nvidia,dc-connection = "external-display";
			vdd_hdmi_5v0-supply = <&vdd_5v0_hdmi>;
		};

		hdmi {
			status = "okay";
		};

		vi {
			port@0 {
				endpoint@0 {
					remote-endpoint = <&hdmi_bridge_ep0>;
				};
			};

			port@1 {
				endpoint@0 {
					remote-endpoint = <&hdmi_bridge_ep1>;
				};
			};
		};
	};

	/* GEN1 I2C */
	i2c@7000c000 {
		status = "okay";

		wm8903: wm8903@1a {
			compatible = "wlf,wm8903";
			reg = <0x1a>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(N, 2) IRQ_TYPE_LEVEL_HIGH>;

			avdd-supply = <&vdd_1v8_ext>;
			dbvdd-supply = <&vdd_1v8_ext>;
			cpvdd-supply = <&vdd_1v8_ext>;
			dcvdd-supply = <&vdd_1v8_ext>;

			gpio-controller;
			#gpio-cells = <2>;

			micdet-cfg = <0>;
			micdet-delay = <100>;
		};
	};

	i2c@7000c500 {
		status = "okay";

		hdmi_bridge: tc358840xbg@1f {
			compatible = "toshiba,tc358840xbg";
			reg = <0x1f>;

			#sound-dai-cells = <0>;

			vddc11-supply = <&vdd_1v1_tc35840>;
			vddio18-supply = <&vdd_1v8_tc35840>;
			vddio33-supply = <&vdd_3v3_tc35840>;
			vdd33-hdmi-supply = <&vdd_3v3_tc35840>;
			vdd11-hdmi-supply = <&vdd_1v1_tc35840>;
			vdd12-mipi0-supply = <&vdd_1v2_tc35840>;
			vdd12-mipi1-supply = <&vdd_1v2_tc35840>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(J, 2) IRQ_TYPE_LEVEL_HIGH>;

			reset-gpios = <&gpio TEGRA_GPIO(BB, 3) GPIO_ACTIVE_LOW>;

			clock-rate = <48000000>;

			port {
				#address-cells = <1>;
				#size-cells = <0>;

				hdmi_bridge_ep0: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&csi_ab_ep>;
					clock-lanes = <0>;
					data-lanes = <0>, <1>, <2>, <3>;
					clock-noncontinuous;
				};

				hdmi_bridge_ep1: endpoint@1 {
					status = "disabled";
					reg = <1>;
					remote-endpoint = <&csi_cd_ep>;
					clock-lanes = <0>;
					data-lanes = <0>, <1>, <2>, <3>;
					clock-noncontinuous;
				};
			};
		};
	};

	/* HDMI DDC */
	i2c@7000c700 {
		status = "okay";
	};

	spi@7000d400 {
		status = "okay";

		flash@0 {
			#address-cells = <1>;
			#size-cells = <1>;

			compatible = "w25q64";
			reg = <0>;
			spi-max-frequency = <80000000>;
		};
	};

	/* MMC card slot */
	sdhci@700b0400 {
		status = "okay";
		vddio_sd_slot-supply = <&vdd_3v3_sd>;
		wp-gpios = <>;
	};

	pcie-controller {
		nvidia,port0_status = <1>;
		nvidia,port1_status = <1>;
		nvidia,lanes = <TEGRA_PCIE_LANES_X2_X1>;
		status = "okay";
	};

	hda@70030000 {
		status = "okay";
	};

	avp-audio {
		compatible = "nvidia,tegra124-avp-audio", "nvidia,tegra30-avp-audio";
	};

	audio-offload {
		compatible = "nvidia,tegra-offload";
	};

	/* SATA */
	sata@0x70020000 {
		status = "okay";
		vdd_sata-supply = <&vdd_12v0_sata>;
	};

	serial@70006300 {
		status = "okay";
	};

	ahub {
		status = "okay";
		i2s@70301100 {
			status = "okay";
		};

		i2s@70301300 {
			status = "okay";
		};
	};

	sound {
		compatible = "ad,tegra-audio-wm8903-medcom-wide",
			     "nvidia,tegra-audio-wm8903";
		nvidia,model = "Avionic Design Meerkat WM8903";

		nvidia,audio-routing =
			"Headphone Jack", "HPOUTR",
			"Headphone Jack", "HPOUTL",
			"Mic Jack", "MICBIAS",
			"IN1L", "Mic Jack";

		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(R, 5) GPIO_ACTIVE_LOW>;

		nvidia,memory-clients = <SWGID_PPCS>;
		nvidia,i2s-controller = <&tegra_i2s1>;
		nvidia,i2s-is-master;
		nvidia,audio-codec = <&wm8903>;
	};

	hdmi_bridge_sound {
		compatible = "ad,uh2c-adc";
		nvidia,model = "Avionic Design UH2C Audio";

		nvidia,memory-clients = <SWGID_PPCS>;
		nvidia,i2s-controller = <&tegra_i2s3>;
		sound-dai = <&hdmi_bridge>;
	};


	/* USB0 / Client */
	usb@7d000000 {
		status = "okay";
		nvidia,port-otg;
		nvidia,remote-wakeup-supported;
		nvidia,power-off-on-suspend;

		usb_vbus-supply = <&vdd_usb0_vbus>;
	};

	udc@7d000000 {
		status = "okay";

		usb_vbus-supply = <&vdd_usb0_vbus>;
	};

	otg@7d000000 {
		status = "okay";

		usb_vbus-supply = <&vdd_usb0_vbus>;
	};

	/* USB1 */
	xusb@70090000 {
		status = "okay";
		nvidia,portmap = <(XUSB_MUX_USB2_P1 | XUSB_MUX_SS_P0)>;
		nvidia,ss_portmap = <XUSB_PADCTL_SS_PORTMAP(P1, DISABLE)>;
		usb_vbus1-supply = <&vdd_usb1_vbus>;
	};

	/* USB2 */
	usb@7d008000 {
		status = "okay";

		usb_vbus-supply = <&vdd_usb2_vbus>;
	};

	regulators {
		vsys: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "VSYS";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "+5V_SOM";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vsys>;
		};

		vdd_3v3: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "+3V3_SOM";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&vsys>;
		};

		vdd_5v0_ext: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "+5V_EXT";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vsys>;
		};

		vdd_3v3_ext: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "+3V3_EXT";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&vsys>;
		};

		vdd_1v8_ext: regulator@105 {
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "+1V8_EXT";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			vin-supply = <&vddio_1v8>;
		};

		vdd_5v0_hdmi: regulator@106 {
			compatible = "regulator-fixed";
			reg = <106>;
			regulator-name = "HDMI_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_5v0_ext>;
			gpio = <&gpio TEGRA_GPIO(H, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		vdd_3v3_sd: regulator@107 {
			compatible = "regulator-fixed";
			reg = <107>;
			regulator-name = "+3V3_SD";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&vdd_3v3_ext>;
			gpio = <&gpio TEGRA_GPIO(R, 0) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		vdd_1v5_mpcie: regulator@108 {
			compatible = "regulator-fixed";
			reg = <108>;
			regulator-name = "+1V5_mPCIe";
			regulator-min-microvolt = <1500000>;
			regulator-max-microvolt = <1500000>;
			vin-supply = <&vdd_3v3_ext>;
		};

		vdd_3v3_mpcie: regulator@109 {
			compatible = "regulator-fixed";
			reg = <109>;
			regulator-name = "+3V3_mPCIe";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&vdd_3v3_ext>;
		};

		vdd_12v0_sata: regulator@110 {
			compatible = "regulator-fixed";
			reg = <110>;
			regulator-name = "+12V0_SATA";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			vin-supply = <&vsys>;
			gpio = <&gpio TEGRA_GPIO(EE, 2) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		vdd_usb0_vbus: regulator@111 {
			compatible = "regulator-fixed";
			reg = <111>;
			regulator-name = "USB_CLIENT_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_5v0_ext>;
			gpio = <&gpio TEGRA_GPIO(N, 4) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
		};

		vdd_usb1_vbus: regulator@112 {
			compatible = "regulator-fixed";
			reg = <112>;
			regulator-name = "USB1_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_5v0_ext>;
			gpio = <&gpio TEGRA_GPIO(N, 5) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
		};

		vdd_usb2_vbus: regulator@113 {
			compatible = "regulator-fixed";
			reg = <113>;
			regulator-name = "USB2_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_5v0_ext>;
			gpio = <&gpio TEGRA_GPIO(FF, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
		};

		vdd_1v8_tc35840: regulator@114 {
			compatible = "regulator-fixed";
			reg = <114>;
			regulator-name = "+1V8_TC35840";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			vin-supply = <&vdd_3v3_ext>;
			gpio = <&gpio TEGRA_GPIO(H, 2) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		vdd_1v2_tc35840: regulator@115 {
			compatible = "regulator-fixed";
			reg = <115>;
			regulator-name = "+1V2_TC35840";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			vin-supply = <&vdd_3v3_ext>;
			gpio = <&gpio TEGRA_GPIO(H, 4) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		vdd_1v1_tc35840: regulator@116 {
			compatible = "regulator-fixed";
			reg = <116>;
			regulator-name = "+1V1_TC35840";
			regulator-min-microvolt = <1100000>;
			regulator-max-microvolt = <1100000>;
			vin-supply = <&vdd_3v3_ext>;
			gpio = <&gpio TEGRA_GPIO(H, 5) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		vdd_3v3_tc35840: regulator@117 {
			compatible = "regulator-fixed";
			reg = <117>;
			regulator-name = "+3V3_TC35840";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			/* The regulator need 3ms, but we also add 1ms for
			 * the clock to be available. */
			regulator-enable-ramp-delay = <4000>;
			vin-supply = <&vdd_5v0_ext>;
			gpio = <&gpio TEGRA_GPIO(I, 7) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

	};
 };

