/dts-v1/;

#include <dt-bindings/display/tegra-dc.h>
#include <dt-bindings/usb/tegra-ehci.h>
#include <dt-bindings/usb/tegra-xhci.h>

#include "tegra124-meerkat.dtsi"
#include "tegra124-kalamos-camera.dtsi"

/ {
	model = "Parrot Kalamos";
	compatible = "parrot,kalamos", "ad,meerkat", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;

	pinmux {
		common {
			pbb3 {
				nvidia,function = "vgp3";
			};

			/* Don't mess with NVD_PWM (camera trigger).
			 * Tri-stating the pin gives us the required
			 * 1.8V */
			dap1_dout_pn2 {
				nvidia,tristate = <TEGRA_PIN_ENABLE>;
			};
		};
	};

	host1x {
		dc@54200000 {
			status = "okay";

			nvidia,dc-connection = "external-display";
			vdd_hdmi_5v0-supply = <&vdd_5v0>;
		};

		hdmi {
			status = "okay";
		};
	};

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart", "nvidia,tegra30-hsuart";
		status = "okay";
	};

	serial@70006300 {
		status = "okay";
	};

	/* CAM */
	i2c@7000c500 {
		status = "okay";
	};

	/* HDMI DDC */
	i2c@7000c700 {
		status = "okay";
	};

	tegra_ehci_0: usb@7d000000 {
		status = "okay";
		nvidia,port-otg;
		nvidia,has-host;
		nvidia,phy-interface = <TEGRA_USB_PHY_INTF_UTMI>;
		nvidia,mode = <TEGRA_USB_OPMODE_HOST>;
		nvidia,id-det-type = <TEGRA_USB_PMU_ID>;
		nvidia,id-extcon-dev-name = "as3722-extcon";

		nvidia,remote-wakeup-supported;
		nvidia,power-off-on-suspend;

		nvidia,hssync-start-delay = <0>;
		nvidia,elastic-limit = <16>;
		nvidia,idle-wait-delay = <17>;
		nvidia,term-range-adj = <6>;
		nvidia,xcvr-setup = <8>;
		nvidia,xcvr-lsfslew = <2>;
		nvidia,xcvr-lsrslew = <2>;
		nvidia,xcvr-setup-offset = <0>;
		nvidia,xcvr-use-fuses = <1>;
		nvidia,vbus-oc-map = <0x5>;

		usb_vbus-supply = <&vdd_usb_hs_vbus>;
	};

	tegra_udc: udc@7d000000 {
		status = "okay";
		nvidia,port-otg;
		nvidia,has-host;
		nvidia,phy-interface = <TEGRA_USB_PHY_INTF_UTMI>;
		nvidia,mode = <TEGRA_USB_OPMODE_DEVICE>;
		nvidia,id-det-type = <TEGRA_USB_PMU_ID>;
		nvidia,id-extcon-dev-name = "as3722-extcon";

		nvidia,hssync-start-delay = <0>;
		nvidia,elastic-limit = <16>;
		nvidia,idle-wait-delay = <17>;
		nvidia,term-range-adj = <6>;
		nvidia,xcvr-setup = <8>;
		nvidia,xcvr-lsfslew = <2>;
		nvidia,xcvr-lsrslew = <2>;
		nvidia,xcvr-setup-offset = <0>;
		nvidia,xcvr-use-fuses = <1>;

		usb_vbus-supply = <&vdd_usb_hs_vbus>;
	};

	otg@7d000000 {
		status = "okay";
		nvidia,ehci-device = <&tegra_ehci_0>;
		nvidia,is-xhci;

		usb_vbus-supply = <&vdd_usb_hs_vbus>;
	};

	xusb@70090000 {
		status = "okay";
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <(XUSB_MUX_USB2_P0 | XUSB_MUX_SS_P0)>;
		nvidia,ss_portmap = <XUSB_PADCTL_SS_PORTMAP(P0, DISABLE)>;
		nvidia,lane_owner = <1>; /* PCIe lane0 owner = USB3_SS port0 */
		nvidia,ulpicap = <0>;
		usb_vbus0-supply = <&vdd_usb_hs_vbus>;
	};

	sensorhub {
		compatible = "parrot,sensorhub";

		reset-gpio = <&gpio TEGRA_GPIO(R, 6) GPIO_ACTIVE_LOW>;
		boot0-gpio = <&gpio TEGRA_GPIO(U, 1) GPIO_ACTIVE_HIGH>;
	};

	regulators {
		vdd_vbat: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "VBAT_PROTECT";
			regulator-min-microvolt = <36000000>;
			regulator-max-microvolt = <36000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "5V_BOARD";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_vbat>;
		};

		vdd_3v3: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "3V3_BOARD";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_vbat>;
		};

		vdd_usb_hs_vbus: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "USB_HS_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 4) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0>;
		};

		vdd_2v8_cam: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "2V8_CAM";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_3v3>;
			consumers {
				c1 {
					regulator-consumer-supply = "vana";
					regulator-consumer-device = "2-0010";
				};
				c2 {
					regulator-consumer-supply = "vana";
					regulator-consumer-device = "2-0018";
				};
			};
		};

		vdd_1v8_cam: regulator@105 {
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "1V8_CAM";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_3v3>;
			consumers {
				c1 {
					regulator-consumer-supply = "vif";
					regulator-consumer-device = "2-0010";
				};
				c2 {
					regulator-consumer-supply = "vif";
					regulator-consumer-device = "2-0018";
				};
			};
		};

		/* This 1.175V regulator does not actually exist,
		 * but the sensor drivers want it. */
		vdd_1v175_cam: regulator@106 {
			compatible = "regulator-fixed";
			reg = <106>;
			regulator-name = "1V175_CAM";
			regulator-min-microvolt = <1175000>;
			regulator-max-microvolt = <1175000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_3v3>;
			consumers {
				c1 {
					regulator-consumer-supply = "vdig";
					regulator-consumer-device = "2-0010";
				};
				c2 {
					regulator-consumer-supply = "vdig";
					regulator-consumer-device = "2-0018";
				};
			};
		};
	};
};
