/dts-v1/;

#include "tegra124-meerkat.dtsi"
#include "panel-tianma-tm057jdhp04.dtsi"

/ {
	model = "Avionic Design Kitt";
	compatible = "ad,kitt", "ad,meerkat", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;

	pinmux {
		common {
			ph2 {
				nvidia,function = "pwm2";
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			ph3 {
				nvidia,pins = "ph3";
				nvidia,pull = <TEGRA_PIN_PULL_UP>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			dap2_din_pa4 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			dap2_dout_pa5 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			dap2_fs_pa2 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			dap2_sclk_pa3 {
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
		};
	};

	display_bl: backlight {
		compatible = "pwm-backlight";
		pwms = <&tegra_pwm 2 1000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
	};

	pcie-controller {
		nvidia,port0_status = <1>;
		nvidia,port1_status = <1>;
		nvidia,lanes = <TEGRA_PCIE_LANES_X2_X1>;
		status = "okay";
	};

	host1x {
		dc@54200000 {
			status = "okay";

			nvidia,dc-connection = "internal-lcd";
		};

		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel: panel-tianma-tm057jdhp04 {
				enable-gpios = <&gpio TEGRA_GPIO(H, 3) GPIO_ACTIVE_HIGH>;
				nvidia,dsi-te-gpio = <&gpio TEGRA_GPIO(K, 0) GPIO_ACTIVE_HIGH>;
				backlight = <&display_bl>;
			};
		};

		dc@54240000 {
			status = "okay";

			nvidia,dc-connection = "external-display";
			vdd_hdmi_5v0-supply = <&vdd_5v0_hdmi>;
		};

		hdmi {
			status = "okay";
		};
	};

	serial@70006300 {
		status = "okay";
	};

	ahub {
		status = "okay";
		i2s@70301100 {
			status = "okay";
		};
	};

	usb@7d000000 {
		status = "okay";
		nvidia,hotplug;
		nvidia,remote-wakeup-supported;
		nvidia,power-off-on-suspend;

		usb_vbus-supply = <&vdd_usb0_vbus>;
	};

	xusb@70090000 {
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <(XUSB_MUX_USB2_P2 | XUSB_MUX_SS_P1)>;
		nvidia,ss_portmap = <XUSB_PADCTL_SS_PORTMAP(DISABLE, P2)>;
		nvidia,lane_owner = <2>; /* PCIe lane1 owner = USB3_SS port1 */
		nvidia,ulpicap = <0>;
		usb_vbus2-supply = <&vdd_usb2_vbus>;
		status = "okay";
	};

	/* On board eMMC */
	sdhci@700b0400 {
		status = "okay";
		built-in;
		cd-gpios = <>;
		wp-gpios = <>;
	};

	i2c@7000c400 {
		status = "okay";

		wm8903: wm8903@1a {
			compatible = "wlf,wm8903";
			reg = <0x1a>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(U, 5) IRQ_TYPE_LEVEL_HIGH>;

			gpio-controller;
			#gpio-cells = <2>;

			micdet-cfg = <0>;
			micdet-delay = <100>;
			gpio-cfg = <0xffffffff
				    0xffffffff
				    0
				    0xffffffff
				    0xffffffff>;
		};
	};

	/* HDMI DDC */
	i2c@7000c700 {
		status = "okay";
	};

	i2c@7000d000 {
		pmic@40 {
			ams,backup-battery-chargable;
			ams,battery-backup-charge-voltage = <AS3722_BBVOLT_3_0V>;
			ams,battery-backup-charge-current = <AS3722_BBCCUR_50UA>;
			ams,battery-backup-enable-bypass;
			ams,battery-backup-charge-mode = <AS3722_BBCMODE_ACT_STBY_OFF>;
		};
	};

	hda@70030000 {
		status = "okay";
	};

	avp-audio {
		compatible = "nvidia,tegra124-avp-audio", "nvidia,tegra30-avp-audio";
	};

	audio-offload {
		compatible = "nvidia,tegra-offload";
	};

	sound {
		compatible = "ad,tegra-audio-wm8903-medcom-wide",
			     "nvidia,tegra-audio-wm8903";
		nvidia,model = "Avionic Design Meerkat WM8903";

		nvidia,audio-routing =
			"Headphone Jack", "HPOUTR",
			"Headphone Jack", "HPOUTL",
			"Int Spk", "ROP",
			"Int Spk", "RON",
			"Int Spk", "LOP",
			"Int Spk", "LON",
			"Mic Jack", "MICBIAS",
			"IN1L", "Mic Jack";

		nvidia,spkr-en-gpios = <&gpio TEGRA_GPIO(R, 2) GPIO_ACTIVE_HIGH>;
		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(R, 7) GPIO_ACTIVE_HIGH>;

		nvidia,memory-clients = <14>;
		nvidia,i2s-controller = <&tegra_i2s1>;
		nvidia,i2s-is-master;
		nvidia,audio-codec = <&wm8903>;
	};

	regulators {
		vdd_5v0: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "+VDD_5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_3v3: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "+VDD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_usb2_vbus: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "+USB2_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(FF, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_2v9: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "+2V9";
			regulator-min-microvolt = <2900000>;
			regulator-max-microvolt = <2900000>;
			vin-supply = <&vdd_3v3_sys>;
		};

		vdd_5v0_hdmi: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "+5V_HDMI";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_5v0>;
			gpio = <&gpio TEGRA_GPIO(P, 1) GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		vdd_usb0_vbus: regulator@105 {
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "+USB0_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 4) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_sys>;
		};
	};

	pwm-fan {
		status = "okay";
		pwms = <&tegra_pwm 1 40000>;
	};
};
